.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__link:hover {
  color: #2f80ed;
}
